body{background-color: #f4f4f4;color: #4d4d4d;font-family: 'Arial',sans-serif;}
.wrap{max-width: 933px;margin: 0 auto;}
.row{display: flex;}
.half-column{
	width: 50%;
	& + .half-column{padding-left: 14px;}
}
