@mixin device($point) {
	@if $point == mobile {
		@media (max-width: 320px) { @content ; }
	}
	@else if $point == mobile-landscape {
		@media (max-width: 576px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 768px) { @content ; }
	}
	@else if $point == tablet-landscape {
		@media (max-width: 1024px) { @content ; }
	}
	@else if $point == pc {
		@media (min-width: 1025px) { @content ; }
	}
}