@include device(tablet) {
	.wrap{margin: 0 20px;}
	.search{
		&__content{padding: 25px 25px 5px;}
	}
}
@include device(mobile-landscape) {
	.half-column{
		width: 100%;margin-bottom: 10px;
		+ .half-column{padding-left: 0;}
	}
	.ano-preco-versao{
		.half-column{
			&:last-child{order: -1;}
		}
	}
	.checkbox{margin-bottom: 20px;}
	.header{
		&__svg{margin: 10px auto 20px;display: block;width: 150px;}
	}
	.search{
		&__header{
			flex-wrap: wrap;
			.row{width: 100%;margin-bottom: 0;}
		}
		&__sale{
			width: 100%;text-align: right;order: -1;margin-bottom: 10px;
			&-button{display: inline-block;padding: 5px 10px;}
		}
		&__content{
			padding: 25px;
			.row{flex-wrap: wrap;margin-bottom: 0;}
		}
		&__advanced{margin-bottom: 10px;}
		&__filter{
			&-submit{margin-left: 0;width: 100%;padding: 15px;}
		}
	}
	.tabs{
		&__label{width: 50%;}
	}
}
@include device(mobile) {
	.wrap{margin: 0 10px;}
	.search{
		&__content{padding: 25px 15px 15px;}
	}
	.tabs{
		&__item{display: block;text-align: center;}
		&__icon{display: none;}
	}
}