.checkbox{
	margin-right: 35px;position: relative;
	&__input{
		position: absolute;opacity: 0;
		&:checked{
			+ .checkbox__label:before{content: '';position: absolute;left: 6px;bottom: 9px;width: 8px;height: 4px;transform: rotate(-45deg);border-left: 2px solid #cc2929;border-bottom: 2px solid #cc2929;}
		}
	}
	&__label{
		position: relative;padding-bottom: 2px;padding-left: 28px;cursor: pointer;color: #696976;font-size: 14px;
		&:after{content: '';width: 19px;height: 19px;position: absolute;left: 0;bottom: 0;border: solid 1px #b5b5bf;border-radius: 2px;}
	}
}