.header{
	&__svg{width: 200px;margin-bottom: 50px;stroke-width:2px;fill-opacity: 0;stroke-dasharray: 280px;animation: logo 1.5s forwards;}
	.st0{fill:#ec0928;}
	.st1{fill:#ffffff;}
	.st2{fill:#232323;}
}