.input{
	border: 1px solid #b5b5bf;display: flex;line-height: 36px;border-radius: 3px;font-size: 14px;position: relative;
	&:hover{border-color: #888;}
	input{padding: 0 5px;}
	input, select{border-style: none;width: 100%;background-color: transparent;font-size: 15px;font-weight: bold;color: #4d4d4d;outline-style: none;}
	&--disabled{
		border-color: #dedee3;color: #dedee3;
		&:before{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;}
		&:hover{border-color: #dedee3;}
		input, select{color: #dedee3;}
	}
	&__pretext{
		padding: 0 0 0 10px;white-space: nowrap;
		&:after{content: ':';}
		&-pin{
			&:before{content: url('../img/icon-pin.svg');height: 20px;width: 14px;margin-right: 10px;display: inline-block;transform: translateY(4px);}
		}
	}
	&__postext{
		display: flex;border-left: 1px solid #b5b5bf;
		select{width: 70px;}
	}
	&__boxrange{
		position: absolute;left: 0;top: 100%;padding: 10px;background-color: #fff;z-index: 2;margin-top: 6px;border: 1px solid #ccc;border-radius: 3px;display: none;
		&:before{content: '';width: 10px;height: 10px;position: absolute;left: 10px;top: -7px;transform: rotate(45deg);border-left: 1px solid #ccc;border-top: 1px solid #ccc;background-color: #fff;z-index: 2;}
		&-focus{display: flex;}
		select{width: 60px;}
		.input{
			+ .input{margin-left: 10px;}
			&__price{width: 100px;}
		}
	}
}
