.search{
	&__header{display: flex;justify-content: space-between;}
	&__content{
		background-color: #fff;box-shadow: 1px 1px 1px rgba(174, 174, 181, 0.2);padding: 25px 50px;
		.row{margin-bottom: 14px;}
	}
	&__buttons{justify-content: space-between;align-items: center;padding-top: 10px;}
	&__filter{
		&-clear{
			font-size: 15px;color: #8b8b97;padding: 15px 15px;border-radius: 3px;transition: background-color .3s, color .3s;
			&:hover{background-color: #8b8b97;color: #fff;}
		}
		&-submit{
			border-radius: 3px;background-color: #cc2929;color: #fff;font-size: 18px;font-weight: bold;text-transform: uppercase;padding: 15px 97px;margin-left: 9px;transition: background-color .3s, color .3s;
			&:hover{background-color: #f54747;}
		}
	}
	&__advanced{
		font-size: 15px;font-weight: bold;color: #cc2929;position: relative;
		&:before{content: "› ";}
		&:after{content: '';position: absolute;left: 50%;transform: translateX(-50%);bottom: -5px;width: 0%;border-bottom: 1px solid #cc2929;transition: width .1s;}
		&:hover{
			&:after{width: 100%;}
		}
	}
  &__sale{
  	&-button{
	  	border: 2px solid #f89e00;color: #f89e00;font-weight: bold;font-size: 15px;text-decoration: none;border-radius: 3px;padding: 10px 35px;transition: background-color .3s, color .3s;
	  	&:hover{background-color: #f89e00;color: #fff;}
  	}
  }
}
