.tabs{
	&__item{
		position: relative;display: flex;align-items: flex-end;padding: 0 23px 10px;color: #8b8b97;border-bottom: 3px solid transparent;cursor: pointer;transition: border-bottom-color .3s;
		&:hover{color: #666;}
		&:before{content: '';position: absolute;bottom: -3px;left: 0;z-index: -1;width: 100%;border-bottom: 1px solid #d8d8d8;}
	}
	&__icon{
		width: 40px;margin-right: 14px;transform: translateY(-6px);fill: #868698;transition: fill .6s;
		&-car{width: 40px;}
		&-bike{width: 26px;}
	}
	&__text{font-size: 11px;text-transform: uppercase;}
	&__subtitle{font-size: 22px;display: block;}
	&__input{
		position: absolute;opacity: 0;
		&:checked + .tabs__item{border-bottom-color: #cc2929;}
		&:checked + .tabs__item .tabs__subtitle{color: #cc2929;}
		&:checked + .tabs__item .tabs__icon{fill: #cc2929;}
	}
}
